body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #0d1117;
}

nav {
    display: flex;
    flex-direction: column;
    /* Dodano za vertikalno poravnanje */
    align-items: flex-start;
    padding: 1rem 1rem 0 1rem;
    background-color: #010409;
    color: #fafafa;
}

.icon {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    /* Prostor ispod ikone */
}

.icon img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    /* Razmak između slike i teksta */
}

.icon p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    /* Uklanja margine da bi se elemente poravnali */
}

.icon a {
    text-decoration: none;
    color: #fafafa;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* Vertikalni prikaz li elemenata */
}

.navbar li {
    margin: 5px 0;
}

.navbar li a {
    text-decoration: none;
    color: #fafafa;
    font-size: 16px;
    padding: 0.5rem 1rem;
}

/* Stil za aktivni link */
.navbar li a.active {
    border-bottom: 2px solid #845ec2;
    /* Dodaje liniju ispod aktivnog linka */
    color: #845ec2;
}

/* Responsive Menu Toggle Button */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
}

.social li {
    list-style: none;
    margin: 0 5px;
}

.social li a .fa-solid {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
}

.social li a .fa-brands {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
}

.social li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 2px;
    transition: .5s;
}

.social li a {
    text-decoration: none;
    display: absolute;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.social li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

.social li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.social li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

.social li:hover .fa {
    color: #fff;
}

.social li:hover span {
    color: #fff;
}

.social li:hover:nth-child(1) a {
    background: #f2a60c;
}

.social li:hover:nth-child(1) a:before {
    background: #c46210;
}

.social li:hover:nth-child(1) a:after {
    background: #d2691e;
}

.social li:hover:nth-child(2) a {
    background: #0a66c2;
}

.social li:hover:nth-child(2) a:before {
    background: #097aa5;
}

.social li:hover:nth-child(2) a:after {
    background: #53b9e0;
}

.social li:hover:nth-child(3) a {
    background: #6cc644;
}

.social li:hover:nth-child(3) a:before {
    background: #1B4D3E;
}

.social li:hover:nth-child(3) a:after {
    background: #50C878;
}

.social li:hover:nth-child(4) a {
    background: #F40F02;
}

.social li:hover:nth-child(4) a:before {
    background: #d81c3f;
}

.social li:hover:nth-child(4) a:after {
    background: #e46880;
}

@media (max-width: 480px) {
    .navbar {
        display: none;
        /* Skriva navbar na manjim uređajima */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #010409;
        z-index: 1000;
    }

    .navbar.active {
        display: flex;
        /* Pojavljuje se navbar kad je aktivan */
    }

    .menu-toggle {
        display: flex;
        /* Pojavljuje se menu-toggle */
        flex-direction: column;
        position: absolute;
        right: 20px;
        /* Pozicionira toggle dugme u desni ugao */
        top: 15px;
        /* Pozicionira toggle dugme u gornji ugao */
    }

    .menu-toggle .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    nav {
        justify-content: space-between;
    }

    .icon p {
        font-size: 1rem;
    }

    .social {
        flex-direction: column;
        align-items: center;
        padding-top: 30%;
    }

    .social li {
        margin: 10%;
    }

    .social li a {
        text-decoration: none;
        display: absolute;
        display: block;
        width: 210px;
        height: 80px;
        background: #fff;
        text-align: left;
        padding-left: 20px;
        transform: rotate(-30deg) skew(25deg) translate(0, 0);
        transition: .5s;
        box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .navbar {
        display: none;
        /* Skriva navbar na manjim uređajima */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #010409;
        z-index: 1000;
    }

    .navbar.active {
        display: flex;
        /* Pojavljuje se navbar kad je aktivan */
    }

    .menu-toggle {
        display: flex;
        /* Pojavljuje se menu-toggle */
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 20px;
        /* Pozicionira toggle dugme u desni ugao */
        top: 15px;
        /* Pozicionira toggle dugme u gornji ugao */
    }

    .menu-toggle .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    nav {
        justify-content: space-between;
    }

    .icon p {
        font-size: 1rem;
    }

    .navbar li a {
        font-size: 1rem;
    }

    .social {
        flex-direction: column;
        align-items: center;
        padding-top: 50%;
    }

    .social li {
        margin: 10%;
    }

    .social li a {
        text-decoration: none;
        display: absolute;
        display: block;
        width: 210px;
        height: 80px;
        background: #fff;
        text-align: left;
        padding-left: 20px;
        transform: rotate(-30deg) skew(25deg) translate(0, 0);
        transition: .5s;
        box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-gap: 4rem;
        margin-top: 8%;
    }
}

@media (min-width: 993px) and (max-width: 1204px) {}

/* Larger Screens */
@media (min-width: 769px) {
    .navbar {
        flex-direction: row;
    }
}