body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: #0d1117;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem 0 1rem;
  background-color: #010409;
  color: #fafafa;
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.icon img {
  width: 30px;
  height: 30px;
  margin-right: 12px; 
}

.icon p {
  font-size: 16px;
  font-weight: bold;
  margin: 0; 
}

.icon a{
  text-decoration: none;
  color: #fafafa;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar li {
  margin: 5px 0;
}

.navbar li a {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.navbar li a.active {
  border-bottom: 2px solid #845ec2;
  color: #845ec2;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/*slike*/
.images {
  width: 30%;
  height: 35%;
  position: absolute;
  top: 20%;
  left: 1%;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.images:hover .shape {
  bottom: 40px;
}

.images:hover .image {
  left: 45%;
}

.new-div {
  background-color: #0d1117;
  padding: 20px;
  margin-top: 25%;
  margin-left: 7%;
  width: 18%;
  color: #010409;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item img {
  width: 20px;
  height: auto;
}

.item p {
  margin: 0;
  font-size: 1rem;
  color: #fafafa;
}

.item a {
  text-decoration: none;
  color: #fafafa;
}

.item a:hover {
  color: #845ec2;
}

.about {
  border: 0.5px solid grey;
  color: #fafafa;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  margin-left: 30%;
  margin-top: -32%;
  text-align: justify;
  font-size: 16px;
}

.readme {
  font-size: 12px;
}

hr {
  border: 0.5px solid grey;
}

.about a {
  text-decoration: underline;
  color: #fafafa;
}

.about a:hover {
  color: #845ec2;
}

@media (max-width: 480px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #010409;
    z-index: 1000;
  }

  .navbar.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }

  nav {
    justify-content: space-between;
  }

  .icon p {
    font-size: 1rem;
  }

  .images {
    width: 10%;
    height: 15%;
    position: absolute;
    top: 12%;
    left: 80%;
  }

  .new-div {
    margin-top: 1%;
    margin-left: 2%;
    width: 80%;
  }

  .about {
    width: 90%;
    margin-left: 0%;
    margin-top: 2%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #010409;
    z-index: 1000;
  }

  .navbar.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }

  nav {
    justify-content: space-between;
  }

  .icon p {
    font-size: 1rem;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .images {
    width: 10%;
    height: 15%;
    position: absolute;
    top: 15%;
    left: 80%;
  }

  .new-div {
    margin-top: 1%;
    margin-left: 2%;
    width: 80%;
  }

  .about {
    width: 95%;
    margin-left: 0%;
    margin-top: 2%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .images {
    width: 20%;
    height: 25%;
    position: absolute;
    top: 15%;
    left: 5%;
  }

  .new-div {
    margin-left: 2%;
    width: 80%;
  }

  .about {
    width: 60%;
    margin-left: 30%;
    margin-top: -40%;
  }
}

@media (min-width: 993px) and (max-width: 1204px) {
  .images {
    width: 25%;
    height: 30%;
  }
}

/* Larger Screens */
@media (min-width: 1205px) {
  .navbar {
    flex-direction: row;
  }

  .about {
    margin-top: 25%;
  }
}