body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: #0d1117;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem 0 1rem;
  background-color: #010409;
  color: #fafafa;
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.icon img {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.icon p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.icon a {
  text-decoration: none;
  color: #fafafa;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar li {
  margin: 5px 0;
}

.navbar li a {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.navbar li a.active {
  border-bottom: 2px solid #845ec2;
  color: #845ec2;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fafafa;
  margin: 4px 0;
}

.projects-container {
  display: grid;
  place-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.projects-container h2 {
  text-align: center;
  color: #845ec2;
}

.projects-row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3em;
}

.project {
  background-color: #010409;
  height: 400px;
  width: 300px;
  position: relative;

}

.image {
  width: 100%;
  height: 40%;
}

.project h3 {
  text-align: center;
  margin-bottom: -4%;
  color: #4FAF44;
}

.project h5 {
  text-align: center;
  color: #fafafa;
}

.project p {
  text-align: left;
  max-width: 250px;
  margin-left: 6%;
  color: #fafafa;
}

.project a {
  max-width: 80px;
  align-items: center;
  color: #845ec2;
  text-decoration: none;
}

.icon-git {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 480px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #010409;
    z-index: 1000;
  }

  .navbar.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }

  nav {
    justify-content: space-between;
  }

  .icon p {
    font-size: 1rem;
  }

  .projects-container {
    padding-top: 30%;
  }

  .projects-row {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #010409;
    z-index: 1000;
  }

  .navbar.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }

  nav {
    justify-content: space-between;
  }

  .icon p {
    font-size: 1rem;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .projects-container {
    padding-top: 10%;
  }

  .projects-row {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .projects-container {
    padding-top: 10%;
  }

  .projects-row {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
  }
}

@media (min-width: 993px) and (max-width: 1204px) {
  .projects-container {
    padding-top: 10%;
  }
}

/* Larger Screens */
@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
  }
}