* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
  height: 100vh;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.contet{
  padding: 16px;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.contet{
  padding-top: 60px;
}

nav {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

nav img {
  height: 10vh;
  margin-left: 4%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: #873D8C;
}

.ajla {
  color: #691F6E;
  font-size: 2em;
  display: block;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  letter-spacing: 0.1em;
  border-right: solid 2px #48335E;
  height: 30px;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: type 2s steps(14) 1s forwards,
    blink 1s linear 1s infinite;
}

@keyframes type {
  to {
    width: 18ch
  }
}

@keyframes blink {
  from {
    border-color: transparent
  }

  50% {
    border-color: #48335E
  }

  to {
    border-color: transparent
  }
}

.details {
  text-align: center;
  margin: 0 auto;
}

.details p {
  position: absolute;
  left: 15%;
  top: 60%;
  transform: translateY(-80%);
  height: 200px;
  width: 500px;
  text-align: justify;
  font-size: 2vh;
  letter-spacing: 0.1rem;
  margin: 0;
}

.images {
  width: 45%;
  height: 50%;
  position: absolute;
  bottom: 25%;
  right: 5%;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.images:hover .shape {
  bottom: 40px;
}

.images:hover .image {
  left: 45%;
}

#cards {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 2rem);
  height: 200px;
}

.card figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .8s ease-in-out;
  height: 90px;
  width: 90px;
}

.card figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}



.wrapper {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  max-width: 80rem;
  padding-top: 100px;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #82438C 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #82438C 100%);
  background: linear-gradient(45deg, #cedce7 0%, #82438C 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

#contact .contact {
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding-top: 100px;
}

#contact .contact-title {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

#contact .contact-items {
  width: 100%;
}

#contact .contact-item {
  width: 95%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
}

#contact .icon {
  width: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

