body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #FEFEDF;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky+.contet {
  padding-top: 60px;
}

nav {
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #FEFEDF;
  z-index: 100;
}

nav img {
  height: 10vh;
  margin-left: 4%;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin-right: 20px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #691F6E;
}

.dark-theme .bar {
  width: 100%;
  height: 4px;
  background-color: #C1A5A9;
}

.navbar {
  float: right;
  margin-right: 20px;
}

.dark-theme .navbar {
  background-color: #4A4E69;

}

.navbar li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #691F6E;
}

.navbar a:hover {
  color: #873D8C;
}

.btn {
  top: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  align-items: center;
}

.btn:focus {
  outline-style: none;
}

.light-theme {
  background-color: #FEFEDF;
  --btnBg: #4A4E69;
  --btnFontColor: #C1A5A9;
}

.dark-theme {
  background-color: #4A4E69;
  color: #C1A5A9;
  --btnBg: #C1A5A9;
  --btnFontColor: #4A4E69;
}

.dark-theme nav {
  background-color: #4A4E69;
}

.dark-theme .navbar a {
  color: #C1A5A9;
}

.dark-theme .navbar a:hover {
  color: #eee;
}

.dark-theme .ajla {
  color: #C1A5A9;
  animation: type-dark 2s steps(14) 1s forwards, blink-dark 1s linear 1s infinite;
}

.ajla {
  color: #691F6E;
  font-size: 2em;
  display: block;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  letter-spacing: 0.1em;
  border-right: solid 2px #48335E;
  height: 30px;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 4%;
  animation: type 2s steps(14) 1s forwards,
    blink 1s linear 1s infinite;
}

@keyframes type {
  to {
    width: 15ch
  }
}

@keyframes type-dark {
  to {
    width: 15ch;
    color: #C1A5A9;
  }
}

@keyframes blink {
  from {
    border-color: transparent
  }

  50% {
    border-color: #48335E
  }

  to {
    border-color: transparent
  }
}

@keyframes blink-dark {
  from {
    border-color: transparent
  }

  50% {
    border-color: #C1A5A9;
  }

  to {
    border-color: transparent
  }
}

.details {
  text-align: center;
  margin: 0 auto;
}

.details p {
  position: absolute;
  left: 15%;
  top: 55%;
  transform: translateY(-80%);
  height: 200px;
  width: 500px;
  text-align: justify;
  font-size: 2vh;
  letter-spacing: 0.1rem;
  margin: 0;
}

.images {
  width: 45%;
  height: 50%;
  position: absolute;
  bottom: 25%;
  right: 5%;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.images:hover .shape {
  bottom: 40px;
}

.images:hover .image {
  left: 45%;
}

/*-----CONTACT-----*/

.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
}

.social li {
  list-style: none;
  margin: 0 5px;
}

.social li a .fa-solid {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
}

.social li a .fa-brands {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
}

.social li a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 2px;
  transition: .5s;
}

.social li a {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 210px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.social li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.social li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.social li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

.social li:hover .fa {
  color: #fff;
}

.social li:hover span {
  color: #fff;
}

.social li:hover:nth-child(1) a {
  background: #f2a60c;
}

.social li:hover:nth-child(1) a:before {
  background: #c46210;
}

.social li:hover:nth-child(1) a:after {
  background: #d2691e;
}

.social li:hover:nth-child(2) a {
  background: #0a66c2;
}

.social li:hover:nth-child(2) a:before {
  background: #097aa5;
}

.social li:hover:nth-child(2) a:after {
  background: #53b9e0;
}

.social li:hover:nth-child(3) a {
  background: #6cc644;
}

.social li:hover:nth-child(3) a:before {
  background: #1B4D3E;
}

.social li:hover:nth-child(3) a:after {
  background: #50C878;
}

.social li:hover:nth-child(4) a {
  background: #F40F02;
}

.social li:hover:nth-child(4) a:before {
  background: #d81c3f;
}

.social li:hover:nth-child(4) a:after {
  background: #e46880;
}


@media (max-width: 480px) {
  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEFEDF;
    z-index: 1000;
    margin-top: 10vh;
  }

  .navbar.active {
    display: block;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
  }

  .ajla {
    font-size: 1.5em;
    margin-top: 10px;
  }

  .details p {
    position: static;
    align-items: center;
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    transform: none;
  }

  .images {
    display: none;
  }

  /*-----CONTACT-----*/
  .social {
    flex-direction: column;
    align-items: center;
  }

  .social li {
    margin: 20px 0;
  }

  .social li a {
    width: auto;
    text-align: center;
  }

}


@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEFEDF;
    z-index: 1000;
    margin-top: 10vh;
  }

  .navbar.active {
    display: block;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
  }

  .details p {
    position: static;
    align-items: center;
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    transform: none;
  }

  .images {
    display: none;
  }


  /*-----CONTACT-----*/
  .social {
    flex-direction: column;
    align-items: center;
  }

  .social li {
    margin: 20px 0;
  }

  .social li a {
    width: auto;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .details p {
    position: static;
    align-items: center;
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    transform: none;
  }

  .images {
    display: none;
  }

  .social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-gap: 4rem;
  }
}


@media (min-width: 993px) and (max-width: 1204px) {
  .images {
    bottom: 35%;
    width: 35%;
    height: 40%;
  }
}