body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #A6B1E1;
}

.hero {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #A6B1E1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky+.contet {
  padding-top: 60px;
}

nav {
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #A6B1E1;
  z-index: 100;
}

nav img {
  height: 10vh;
  margin-left: 4%;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin-right: 20px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #691F6E;
}

.dark-theme .bar {
  width: 100%;
  height: 4px;
  background-color: #A6B1E1;
}

.navbar {
  float: right;
  margin-right: 20px;

}

.dark-theme .navbar {
  background-color: #22092C;

}

.navbar li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #22092C;
}

.navbar a:hover {
  color: #873D8C;
}

.btn {
  top: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  align-items: center;
}

.btn:focus {
  outline-style: none;
}

.light-theme {
  background-color: #A6B1E1;
  --btnBg: #22092C;
  --btnFontColor: #A6B1E1;
}

.dark-theme {
  background-color: #22092C;
  color: #A6B1E1;
  --btnBg: #A6B1E1;
  --btnFontColor: #22092C;
}

.dark-theme nav {
  background-color: #22092C;
}

.dark-theme .navbar a {
  color: #A6B1E1;
}

.dark-theme .navbar a:hover {
  color: #eee;
}



/*----------- ABOUT ME-----------*/

.header {
  padding: 4%;
  align-items: center;
  text-align: center;
}

h3 {
  margin: 6px;
  text-align: center;
}

p {
  text-align: justify;
  margin: 0;
  font-size: 14px;
}

a {
  color: #7071E8;
}

i {
  color: #22092C;
  font-weight: bold;
}

.dark-theme i {
  color: #C683D7;
  font-weight: normal;
}

a:hover {
  color: #845EC2;
}

img {
  width: 100%;
  align-items: center;
}

.page {
  padding: 2em;
  background: #A6B1E1;
}

.dark-theme .page {
  background-color: #22092C;
}

.archive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
  grid-auto-flow: dense;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 1200px;
}

.dark-theme .archive {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 1200px;
}

.card {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: #f0f0f0;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  max-width: 500px;
}


@media (max-width: 540px) {
  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEFEDF;
    z-index: 1000;
    margin-top: 10vh;
  }

  .navbar.active {
    display: block;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
  }

  .archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 90%;
  }

  .archive .card {
    width: calc(50% - 20px);
    margin: 10px;
  }

  .header {
    padding-top: 30%;
    align-items: center;
    text-align: center;
  }
}


@media (min-width: 541px) and (max-width: 768px) {
  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEFEDF;
    z-index: 1000;
    margin-top: 10vh;
  }

  .navbar.active {
    display: block;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
  }

  .details p {
    position: static;
    align-items: center;
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    transform: none;
  }

  .archive {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    justify-content: center; 
    margin: auto;
    max-width: 90%;
  }

  .dark-theme .archive {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    justify-content: center; 
    margin: auto;
    max-width: 90%;
  }

  .header {
    padding-top: 20%;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .archive {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Prikazuje po tri u redu */
    justify-content: space-between; /* Raspored kartica */
    margin: auto;
    max-width: 90%;
  }

  .dark-theme .archive {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
  }

  .header {
    padding-top: 15%;
    align-items: center;
    text-align: center;
  }
}
